<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home.css">
    <title>Home</title>
</head>
<body>
    <form action="/chat" method="post" class="form">
        <div class="title">Chat Gpt</div>
        <div class="search">
            <input type="text" name="chat" placeholder="Enter your search">
            <button type="submit"><img src="/imgs/search.png" alt=""></button>
        </div>
    </form>
</body>
</html>